<section>
   <!-- in Angular all forms are ngForm due to FormsModule -->
  <form>
    Select an Account Type
    <select [(ngModel)]='accType' name='type'>
      <option value='investment'>Investment</option>
      <option value='cash'>Cash</option>
    </select><br/>
  </form>
  <button (click)='selectAccountCall()'>Select</button>
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of accounts; index as i">
            <td>{{ acc.ticker}}</td>
            <td>{{ acc.price_current}}</td>
        </tr>
    </tbody>
  </table>
</section>