.image {
  width: 200px;
  height: auto;
}

td.ticker {
  color: blue;
}

mat-grid-tile {
  /* background: lightblue; */
  text-align: left;
  width: 100%;
  /* justify-content: flex-start !important ; */
  /* align-items: start !important; */
  /* position: absolute;
  left: 5px; */
  border-style: outset;
}

/* div.input,
div.button {
  position: absolute;
  right: 0;
  border: 3px solid blue;
} */
