.image {
  width: 200px;
  height: auto;
}

td.ticker {
  color: blue;
}

mat-grid-tile {
  text-align: left;
  width: 100%;
  /* justify-content: flex-start !important ;
  align-items: start !important;
  position: absolute; */
  padding-top: 0px;
  border-style: outset;
}
