<!-- <article>
  <h1>Citi Portfolio Manager</h1>
  <nav>
    <a routerLink='/accounts'>Current Accounts </a> |
    <a routerLink='/market-movers'>Market Movers</a> |
    <a routerLink='/past-net-worth'>Past Networth</a> 
  </nav>
  <router-outlet></router-outlet>
</article> -->
<article>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../assets/citi-logo.png" class="image" alt="...">
    <a class="navbar-brand" style="font-size:175%" href="#">Citi Portfolio Manager</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" style="font-size:110%" routerLink='/market-movers'> Market Movers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size:110%" routerLink='/past-net-worth'> Past Networth</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <div class="col-sm-3" style="right:0; position:absolute">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col" style="right:0; position:absolute">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</article>
